.login-form {
    text-align: center;
    margin: 100px auto;
    margin-bottom: 20px;
    width: 600px;
    border: 1px solid #ccc;
    padding: 20px;
    font-size: 25px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .contain{
    margin-top: 0px;
    width: 100%;
    font-size: 30px;
    text-align: center;
  }
  
  button {
    background-color: #4d8a54;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 25px;
  }